*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



          /* navigation */
.navigation {
    background-color: #13803f;
    height: 41px;
}          
.navigation ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 7px;
}

.navigation li {
    list-style: none;
    padding-right: 20px;
}
li.text-info a{
    color: #fff;
}
         /* logo-search-admin */
.logo-search-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f542b;
}
.logo {
    padding-left:  40px;
}
.logo img {
    width: 100px;
}



.search form input[type="text"] {
    width: 400px;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 10px;
}
.search button {
    padding: 1px 14px;
    margin-bottom: 2px;
    background-color: #fdfdfd;
    border: 1px solid gray;
}

                /* for medical */
                .medical-search {
                    margin: 0px 15px 0px 0px;
                }


.admin {
    display: flex;
    padding-right: 55px;
}
.sign-up,.signin {
    padding-right: 22px;
}
button.btn.btn-secondry.btn-signin:hover {
    background-color: #dad6d6;
}
.sign-up button.btn {
    background-color: #b5b724;
    color: #fff;
}
.sign-up button.btn:hover{
    background-color: #989a1a;
}


                 /* sign in form */
                 #sign-in-body {
                    overflow: hidden;
                }
                 .sign-in-form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .form-check{
                    display: flex !important;
                    justify-content: space-between;
                    margin-bottom: 5px;
                }
                button.btn.btn-primary {
                    width: -webkit-fill-available;
                }
                form#form {
                    padding: 30px;
                }

                    /* sign in modal */
                    .modal-body {
                        background-color: #f7f7ed;
                    }
                    a.text-primary {
                        cursor: pointer;
                    }
                 /* sign in form end */

                    /* hamburger */
                   #Hamburger{
                        display: none;
                    }

         /* categories  */
.categories {
    display: flex;
    justify-content: space-around;
    margin-top: 35px;
}
.btn-group button.btn{
    margin-left: 10px;
}
#categories .btn-group button:hover {
    background-color: #f9f9f9;
    box-shadow: 1px 2px 5px #dcd5d5;
}
#categories .btn-group button {
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px;
    border-radius: 5px;
}

button#btn-others {
    background-color: #66cdaa !important;
    /* color: white; */
}

        /*  <!-- carousel --> */
.carousel {
    position: relative;
    display: flex;
    justify-content: center;
}
.carousel-inner img{
    height: 500px;
   width: 1300px;
}
div#carouselExampleIndicators {
    margin: 30px 0px;
}

        /* popular categories */
.most-popular-categories {
    height: auto;
    margin: 20px 0px;
}
.most-popular-categories .first-row {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.most-popular-categories .second-row {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.most-popular-categories .third-row {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.card{
    margin: 0px 20px;
    height: 212px;
    background-color: #fff !important;
    box-shadow: 0px 2px 6px #e0dbdb;
    
}
p.card-text {
    font-family: auto;
}
.card img{
    height: 200px;
    padding: 5px 0px;
}

/* footer */
.footer-cont {
    display: flex;
    justify-content: space-around;
    background-color: #1f1e1d;
    color: #fff;
    height: 200px;
    padding-top: 50px;
}
.follow-us .icon{
        display: flex;
        justify-content: space-around;
        margin: 30px 0px 0px 0px;
}
i.font-icon {
    font-size: 30px;
    color: #9a9797;
    cursor: pointer;
}







/* card rotate */
.flip-card {
    background-color: red;
    width: 300px;
    height: 300px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-card-back {
    background-color: #24a946;
    color: white;
    transform: rotateY(180deg);
  }











  /* media query for mobile */
  @media only screen and (max-width: 600px)
 {
      /* hamburger */
    #Hamburger {
        display: block !important;
    }
    span.hamburger-color {
        color: #feffc8;
        font-size: xx-large
    }
    /* hamburger end*/
    body {
        background-color: #efebeb !important;
    }
     /* nav search*/
     .search form input[type="text"] {
        display: none;
    }
    /* logo */
    .logo {
        padding-left: 0px;
    }
    .logo h2 {
        font-size: 25px;
    }
    .admin {
        display: none;
    }

    #categories .btn-group button {
        margin: 7px;
    }
    .btn-group, .btn-group-vertical {
        display: unset !important;
    }

    /* carasoul */
    .carousel {
        display: block;
    }
    /* card */
    .card{
        margin: 20px 10px;
        box-shadow: 1px 1px 8px -2px #888;
        border-radius: .8rem !important;
        background-color: #fff !important;
    }
    .for-contact p {
        font-size: 25px;
        font-family: inherit;
        color: darkcyan;
    }
    .card img {
        border-radius: .8rem;
    }

    /* footer */
    .footer-cont {
        display: block;
        height: auto !important;
        padding: 50px !important;
    }

    .footer-cont .help::after {
        border-bottom: 1px solid white;
    }

    .help {
        border-bottom: 1px solid;
        margin: 20px 0px;
    }
    .mail {
        border-bottom: 1px solid;
        margin: 20px 0px;
    }
    .follow-us {
        border-bottom: 1px solid;
        margin: 20px 0px;
    }
 }